<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aplicacion_bamx">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Aplicacion_bamx">
        <activity
            android:name=".Activity_operador_mensaje_emergente"
            android:exported="true" />
        <activity
            android:name=".Activity_receptor_recepcion_formulario"
            android:exported="true" />
        <activity
            android:name=".Activity_general_login"
            android:exported="true" />
        <activity
            android:name=".Activity_operador_recoleccion_nota"
            android:exported="true" />
        <activity
            android:name=".Activity_operador_recoleccion_formulario"
            android:exported="true" />
        <activity
            android:name=".Activity_operador_menu_lateral"
            android:exported="true" />
        <activity
            android:name=".Activity_receptor_menu_lateral"
            android:exported="true" />
        <activity
            android:name=".plantillas.Activity_plantilla_menu_lateral"
            android:exported="true" />
        <activity
            android:name=".Activity_operador_dia_consulta"
            android:exported="true" />
        <activity
            android:name=".Activity_operador_entrega_consulta"
            android:exported="true" />
        <activity
            android:name=".Activity_receptor_recepcion_consulta"
            android:exported="true" />
        <activity
            android:name=".Activity_operador_recoleccion_consulta"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>